<table class="users table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.userId }}</td>
            <td>
                <a href="{{ path("show_user", {user_id: user.userId}) }}">{{ user.firstName }} {{ user.lastName }}</a>
            </td>
            <td>
                <a href="{{ path("delete_user", {user_id: user.userId}) }}">
                    <img class="delete-icon" src="/images/delete_icon.png" alt="delete">
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>